force-app/main/default/flows/To_do_Item_Percentage_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_completed_To_do_Items</name>
        <label>Add to completed To do Items</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Completed_To_do_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_To_do_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_All_To_do_Items_from_Milestone</name>
        <label>Count All To do Items from Milestone</label>
        <locationX>176</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>CountTodoItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_To_do_Items_from_the_parent_Milestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Percentage_complete_from_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_do_Item_is_In_Progress</name>
        <label>To do Item is In Progress</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>IsMilestoneInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_To_do_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_To_do_Item_is_In_Progress</name>
        <label>Check If To do Item is In Progress</label>
        <locationX>660</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>For_each_To_do_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_do_Item_is_In_Progress</targetReference>
            </connector>
            <label>Yes, it is In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_To_do_Item_is_completed</name>
        <label>If To do Item is completed</label>
        <locationX>462</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_If_To_do_Item_is_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_To_do_Item_is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_To_do_Items.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_completed_To_do_Items</targetReference>
            </connector>
            <label>Yes, To do Item is completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetMilestoneStatusBasedOnTodoItems</name>
        <dataType>String</dataType>
        <expression>IF({!PercentageCompletedFormula} &lt;= 0, IF({!IsMilestoneInProgress} = TRUE, &apos;In Progress&apos;, &apos;Not Started&apos;), 
IF({!PercentageCompletedFormula} &gt;= 100, &apos;Complete&apos;, &apos;In Progress&apos;))</expression>
    </formulas>
    <formulas>
        <name>PercentageCompletedFormula</name>
        <dataType>Number</dataType>
        <expression>({!Completed_To_do_Items} / {!CountTodoItems}) * 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>To do Item Percentage Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To do Item Percentage Calculation</label>
    <loops>
        <name>For_each_To_do_Items</name>
        <label>For each To do Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_To_do_Items_from_the_parent_Milestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_To_do_Item_is_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_All_To_do_Items_from_Milestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_To_do_Items_from_the_parent_Milestone</name>
        <label>Get all To do Items from the parent Milestone</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_To_do_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TodoItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Percentage_complete_from_Milestone</name>
        <label>Update Percentage complete from Milestone</label>
        <locationX>176</locationX>
        <locationY>1223</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percentage_complete__c</field>
            <value>
                <elementReference>PercentageCompletedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>GetMilestoneStatusBasedOnTodoItems</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_To_do_Items_from_the_parent_Milestone</targetReference>
        </connector>
        <object>TodoItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Completed_To_do_Items</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTodoItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsMilestoneInProgress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
